
.added-questions {
	margin-top: 20px;
	padding: 10px;
	background: #e6f7ff;
	border-radius: 5px;

	p {
		margin: 5px 0;
	}

	button {
		background-color: #dc3545;
	}

	button:hover {
		background-color: #b02a37;
	}

}
