:root {
  --almost-white: #ebeaf1;
  --purple: #43339e;
  --almost-black: #0e0a23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 251, 251);
}

h1,
h2,
h3 {
  font-family: "Barriecito", serif;
}

h1,
h2 {
  text-align: center;
  color: var(--almost-black);
}

h2 {
  font-size: 2rem;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

label {
  font-weight: bold;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button,
a {
  height: 2.8rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--almost-white);
  border: 3px solid var(--almost-black);
  border-radius: 15px;
  font-weight: 700;
  color: var(--almost-black);
}
